{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Иванов Максим - автор данного проекта!</h1>
<p>
  До начала обучения у меня не было никакого бэкраунда в данной сфере и я долго не мог найти дело ,
  которое можем приносить мне удовольствие и новые знания,так я и оказался на этом курсе.За плечами 
  12 лет профессионального спорта.Являюсь Чемпионом России и КМС по футболу,но это в прошлом.
  Сейчас стараюсь пробовать всё,что могу,стараюсь не бояться ошибок и учусь их исправлять. 
  Ещё я отстал от программы на 2 спринта и пытаюсь нагнать до 29 мая!В себя конечно верю. 
  Ниже будут мои ники :3 
  <h3>
      Instagram : mmmakksii
  </h3> 
  <h3>   
      GitHub : maksimivanov1
  </h3>
</p>
{% endblock %}